<a href="https://colab.research.google.com/github/mzakibhr/SKLearn-SVM-for-Classification/blob/main/SKLearn_SVM_for_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

df = pd.read_csv('https://raw.githubusercontent.com/mzakibhr/SKLearn-SVM-for-Classification/main/diabetes.csv')

In [2]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [8]:
# memisahkan atribut pada dataset
x = df[df.columns[:8]]

# memisahkan label pada dataset
y = df['Outcome']

# standarisasi nilai dataset
scaler = StandardScaler()
scaler.fit(x)
x = scaler.transform(x)

# memisahkan data train dan test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [10]:
# membuat objek SVC dan memanggil fungsi fit untuk melatih model
clf = SVC()
clf.fit(x_train, y_train)

# Menampilkan skor akurasi prediksi
clf.score(x_test, y_test)

0.7559055118110236